.comments .comment-slider {
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
}

.comments .comment-slider .comment-item {
    padding-left: 15px;
    padding-right: 15px;
}

.comments .comment-slider .comment-item-container {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    border-radius: 50px 25px;

}


.comments .comment-slider .comment-item.active {
    width: 645px;

}


.comments .comment-slider .comment-item .comment-content,
.comments .comment-slider .comment-item .comment-image {
    padding-left: 15px;
}

.comments .comment-slider .comment-item .comment-content {
    flex: 1 0 0;
}

.comments .comment-slider .comment-item .comment-content h4 {
color: #212353;
font-size: 18px;
font-weight: 900;
}

.comments .comment-slider .comment-item .comment-content a {
    display: block;
    font-size: 14px;
    color: #9C69E2;
    margin-bottom: 20px;
}

.comments .comment-slider .comment-item .comment-content p {
    font-size: 18px;
    line-height: 32px;
    color: #4B5D68;
}